name: CI
on:
  workflow_dispatch:
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Welcome message
        run: echo "My first github action job"
      - name: list file on repo
        run: ls
      - name: Read file
        run: cat README.md
