name: Demo-2
on:
  workflow_dispatch:
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      #- uses: actions/checkout@v4
      - name: Welcome message
        run: echo "Hello, world" > hello.txt
