name: Generate variable-secrets
on:
  push
env: 
        CONTAINER_REGISTRY: docker.io
        IMAGE_NAME: github-action-nginx
jobs:
  docker:
    runs-on: ubuntu-latest
    steps: 
    - name: Docker build
      run: echo docker build . -t ${{ env.CONTAINER_REGISTRY }}/${{ vars.CONTAINER_USERNAME }}/$IMAGE_NAME:latest
    - name: Docker login
   
      run: echo docker login $CONTAINER_REGISTRY -u ${{ vars.CONTAINER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Docker push
      run: echo docker push $CONTAINER_REGISTRY/${{ vars.CONTAINER_USERNAME }}/$IMAGE_NAME:latest

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Docker run
      run: | 
        echo docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{ vars.CONTAINER_USERNAME }}/$IMAGE_NAME:latest
        sleep 10
    
